body {
  background-color: lightgrey;
  margin-top: 3%;
}

.container {
  background-color: white;
  margin-top: 2%;
}

.left-column {
  border-right: solid 1px black;
}

.right-column {
  margin-top: 5px;
}

h1 {
  margin: 0 auto;
  text-align: center;
}

#userCity {
  margin-top: 3%;
}

.left-buttons {
  margin-top: 2%;
}

.card-text {
  text-align: center;
}

.uv-div {
  text-align: center;
}

#future-weather-row {
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}
